<div class="father">
<h2>Soy el Padre</h2>
<app-son1  (emitMessage)="setSonMessage($event)" (input)="changeInputText(sonMessage)"></app-son1>

<h2>Mi hijo dice</h2>
<h3>{{sonMessage}}</h3>

<app-son2 [inputText]="inputText"></app-son2>

</div>
